<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Olin Negocios</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/css/loginNegocios.css">	
</head>
<body>
	<header class="row ">
		<div class="columns small-4">
			<img src="../assets/img/logo.png">
		</div>
		<div class="columns small-8">
			<h2>Negocios</h2>
		</div>
	</header>
	<main>
		<form>
			<input type="text" name="user" id="user" placeholder="Usuario" required>
			<input type="password" name="password" id="password" placeholder="password" required>
			<input type="submit" class="button" value="Logearse">
		</form>
		<h3>No tienes Cuenta Registrate Aqui!</h3>
	</main>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
<script type="text/javascript" src="../assets/js/loginNegocios.js"></script>
</body>
</html>